<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<title>Report</title>
		<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
		<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
		<script type="module">

        const images = {{.ImagesJS}};
        const posts = {{.PostsJS}};

		document.querySelector("#posts_by_score").append(
            Plot.rectY(
                posts,
                Plot.binX(
                    {
                        "y": "count",
                    }, 
                    {
                        "x": "score"
                    }
                ),
            ).plot()
        );
        // document.querySelector("#posts_by_date").append(Plot.rectY(posts, {x:"createdAt", y: "score"}).plot());
        // document.querySelector("#images_by_score").append(Plot.rectY(images, Plot.binX({y: "count"}, {x: "score"})).plot());
        // document.querySelector("#images_by_date").append(Plot.rectY(images, {x:"createdAt", y: "score"}).plot());

		</script>
		<table>
			<thead>
				<tr>
					<th>range</th>
					<th>count</th>
					<th>sum</th>
					<th>&mu;</th>
					<th>&sigma;</th>
					<th>p50</th>
					<th>p90</th>
					<th>p95</th>
					<th>p99</th>
				</tr>
			</thead>
			<tbody>
				<tr>
						<td>3 days</td>
						{{ $start := ago "72h" }}
						{{ $end := ago "1s" }}
						{{ $image_scores := .Images | by_date | between $start $end | scores}}
						<td>{{len $image_scores}}</td>
						<td>{{$image_scores | sum }}</td>
						<td>{{$image_scores | mean | printf "%0.2f" }}</td>
						<td>{{$image_scores | stddev  | printf "%0.2f" }}</td>
						<td>{{percentile $image_scores 50 }}</td>
						<td>{{percentile $image_scores 90 }}</td>
						<td>{{percentile $image_scores 95 }}</td>
						<td>{{percentile $image_scores 99 }}</td>
				</tr>
				<tr>
					<td>7 days</td>
					{{ $start := ago "168h" }}
					{{ $end := ago "1s" }}
					{{ $image_scores := .Images | by_date | between $start $end | scores}}
					<td>{{len $image_scores}}</td>
					<td>{{$image_scores | sum }}</td>
					<td>{{$image_scores | mean | printf "%0.2f" }}</td>
					<td>{{$image_scores | stddev  | printf "%0.2f" }}</td>
					<td>{{percentile $image_scores 50 }}</td>
					<td>{{percentile $image_scores 90 }}</td>
					<td>{{percentile $image_scores 95 }}</td>
					<td>{{percentile $image_scores 99 }}</td>
				</tr>
				<tr>
					<td>14 days</td>
					{{ $start := ago "336h" }}
					{{ $end := ago "1s" }}
					{{ $image_scores := .Images | by_date | between $start $end | scores}}
					<td>{{len $image_scores}}</td>
					<td>{{$image_scores | sum }}</td>
					<td>{{$image_scores | mean | printf "%0.2f" }}</td>
					<td>{{$image_scores | stddev  | printf "%0.2f" }}</td>
					<td>{{percentile $image_scores 50 }}</td>
					<td>{{percentile $image_scores 90 }}</td>
					<td>{{percentile $image_scores 95 }}</td>
					<td>{{percentile $image_scores 99 }}</td>
				</tr>
				<tr>
					<td>30 days</td>
					{{ $start := ago "720h" }}
					{{ $end := ago "1s" }}
					{{ $image_scores := .Images | by_date | between $start $end | scores}}
					<td>{{len $image_scores}}</td>
					<td>{{$image_scores | sum }}</td>
					<td>{{$image_scores | mean | printf "%0.2f" }}</td>
					<td>{{$image_scores | stddev  | printf "%0.2f" }}</td>
					<td>{{percentile $image_scores 50 }}</td>
					<td>{{percentile $image_scores 90 }}</td>
					<td>{{percentile $image_scores 95 }}</td>
					<td>{{percentile $image_scores 99 }}</td>
				</tr>
				<tr>
					<td>all</td>
					{{ $image_scores := .Images | scores }}
					<td>{{len $image_scores}}</td>
					<td>{{$image_scores | sum }}</td>
					<td>{{$image_scores | mean | printf "%0.2f" }}</td>
					<td>{{$image_scores | stddev  | printf "%0.2f" }}</td>
					<td>{{percentile $image_scores 50 }}</td>
					<td>{{percentile $image_scores 90 }}</td>
					<td>{{percentile $image_scores 95 }}</td>
					<td>{{percentile $image_scores 99 }}</td>
				</tr>
		</table>

		<table>
			<thead>
				<td>hour (UTC)</td>
				<td>count</td>
			</thead>
			<tbody>
				{{range $hour, $images := .Images | greater_than 99 | count_by_hour }}
					<tr>
						<td>{{$hour}}</td>
						<td>{{len $images}}</td>
					</tr>
				{{end}}
		</table>

		<ul>
			<li>Images:
			<ul>
				<li><a href="#leaderboard">Leaderboard</a></li>
				<li><a href="#images_by_score">Images by score</a></li>
				<li><a href="#images_by_date">Images by date</a></li>
				<li><a href="#best_images_per_day">Best Images per day</a></li>
				<li><a href="#worst_images_per_day">Worst Images per day</a></li>
				<li>Worst Images
					<ul>
						<li><a href="#worsts_images_1d">1d</a></li>
						<li><a href="#worsts_images_2d">2d</a></li>
						<li><a href="#worsts_images_3d">7d</a></li>
						<li><a href="#worsts_images_7d">7d</a></li>
						<li><a href="#worsts_images_14d">14d</a></li>
						<li><a href="#worsts_images_30d">30d</a></li>
						<li><a href="#worsts_images_60d">60d</a></li>
						<li><a href="#worsts_images_90d">90d</a></li>
						<li><a href="#worsts_images_90d+">90d+</a></li>
					</ul>
				</li>
			</ul>
			</li>
			<li>Posts:
			<ul>
				<li><a href="#posts_by_score">Posts by score</a></li>
				<li><a href="#posts_by_date">Posts by date</a></li>
				<li><a href="#posts_by_efficiency">Posts by efficiency</a></li>
				<li><a href="#best_posts_per_day">Best Posts per day</a></li>
				<li><a href="#worst_posts_per_day">Worst Posts per day</a></li>
			</ul>
			</li>
		</ul>

		<h1 id="images_in_the_last_24h">Images in the last 24h</h1>
		{{ $start := ago "24h" }}
		{{ $end := ago "1s" }}
		<ol>
		{{range .Images | by_date | between $start $end | by_post | by_post_date }}
		<li><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})
			<ul>
				{{range .Images | by_score }} 
					<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> ({{.Score}})</li>
				{{end}}
			</ul>
		</li>
		{{end}}
		</ol>


		<h1 id="images_by_score_90d">Images by score (30d)</h1>
		<ol>
		{{$start := epoch }}
		{{$end := ago "720h"}}
		{{range .Images | by_score | between $start $end | by_score | reverse | take 50}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="leaderboard">Leaderboard</h1>
		Score: {{printf "%.0f" .Leaderboard.Score}}<br>
		<ol>
			{{range $rank, $entry := .Leaderboard.Entries}}
				<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> {{printf "%.0f" .AdjustedScore}} ({{.Score}})</li>
			{{end}}
		</ol>

		<h1 id="best_posts_per_day">Best Posts per day</h1>
		<ol>
			{{range $day, $posts := best_posts_per_day 3}}
				<li>{{$day}}
					<ul>
						{{range $posts}}
							<li><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

		<h1 id="worst_posts_per_day">Worst Posts per day</h1>
		<ol>
			{{range $day, $posts := worst_posts_per_day 1}}
				<li>{{$day}}
					<ul>
						{{range $posts}}
							<li><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

		{{$start := ago "2160h"}}
        {{$end := ago "24h"}}
        {{$range := between_range $start $end}}
        <h1 id="worsts_efficiency_90d">Worst Efficiency (-90d to -1d)</h1>
		{{range worst_efficiency $range 10}}
			<li><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}}) {{printf "%.2f" .Efficiency}}</li>
		{{end}}

		<h1 id="posts_by_score">Posts by score</h1>
		<ol>
			{{ $posts := .PostsByScore }}
			{{range $posts}}
				<li><a href="{{.PostURL}}">{{.PostURL}}</a>	Score: {{.Score}} Images: {{len .Images}} {{printf "%.2f" .Efficiency}}</li>
			{{end}}
		</ol>

		<h1 id="posts_by_date">Posts by date</h1>
		<ol>
			{{range .PostsByDate}}
				<li><a href="{{.PostURL}}">{{.PostURL}}</a>	Score: {{.Score}} Images: {{len .Images}} {{printf "%.2f" .Efficiency}}</li>
			{{end}}
		</ol>

		<h1 id="posts_by_efficiency">Posts by efficiency</h1>
		<ol>
			{{range .PostsByEfficiency}}
				<li><a href="{{.PostURL}}">{{.PostURL}}</a>	Score: {{.Score}} Images: {{len .Images}} {{printf "%.2f" .Efficiency}}</li>
			{{end}}
		</ol>

		<h1 id="best_images_per_day">Best Images per day</h1>
		<ol>
			{{range $day, $images := .Images | per_day }}
				<li>{{$day}}
					<ul>
						{{range $images | by_score | take 3}}
							<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

		<h1 id="worst_images_per_day">Worst Images per day</h1>
		<ol>
			{{range $day, $images := .Images | per_day }}
				<li>{{$day}}
					<ul>
						{{range $images | by_score | reverse | take 3}}
							<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

		<h1 id="worsts_images_1d">Worst Images (-2d to -1d)</h1>
		<ol>
		{{$start := ago "48h"}}
		{{$end := ago "24h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | less_than 36 }}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="worsts_images_2d">Worst Images (-3d to -2d)</h1>
		<ol>
		{{$start := ago "72h"}}
		{{$end := ago "48h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | less_than 41 }}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>	

		<h1 id="worsts_images_3d">Worst Images (-5d to -3d)</h1>
		<ol>
		{{$start := ago "120h"}}
		{{$end := ago "72h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | less_than 46 }}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>	

        <h1 id="worsts_images_7d">Worst Images (-7d to -5d)</h1>
		<ol>
		{{$start := ago "168h"}}
		{{$end := ago "120h"}}
        {{range .Images | by_date | between $start $end | by_score | reverse | less_than 46 }}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
        </ol>

		<h1 id="worsts_images_14d">Worst Images (-14d to -7d)</h1>
		<ol>
		{{$start := ago "336h"}}
		{{$end := ago "168h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | less_than 51 | take 25}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="worsts_images_30d">Worst Images (-30d to -14d)</h1>
		<ol>
		{{$start := ago "720h"}}
		{{$end := ago "336h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | less_than 51 | take 25}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="worsts_images_60d">Worst Images (-60d to -30d)</h1>
		<ol>
		{{$start := ago "1440h"}}
		{{$end := ago "720h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | less_than 51 | take 25}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="worsts_images_90d">Worst Images (-90d to -60d)</h1>
		<ol>
		{{$start := ago "2160h"}}
		{{$end := ago "1440h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | less_than 46 | take 25}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="worsts_images_90d+">Worst Images (-90d+)</h1>
		<ol>
		{{$start := epoch }}
		{{$end := ago "2160h"}}	
		{{range .Images | by_score | between $start $end | by_score | reverse |less_than 46 | take 25}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="images_by_score">Images by score</h1>
		<ol>
			{{range .Images | by_score }}
				<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
			{{end}}
		</ol>

		<h1 id="images_by_date">Images by date</h1>
		<ol>
			{{range .Images | by_date }}
				<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
			{{end}}
		</ol>

	</body>
</html>
