<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<title>Report</title>
		<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
		<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
		<script type="module">

        const images = {{.ImagesJS}};
        const posts = {{.PostsJS}};

		document.querySelector("#posts_by_score").append(
            Plot.rectY(
                posts,
                Plot.binX(
                    {
                        "y": "count",
                    }, 
                    {
                        "x": "score"
                    }
                ),
            ).plot()
        );
        // document.querySelector("#posts_by_date").append(Plot.rectY(posts, {x:"createdAt", y: "score"}).plot());
        // document.querySelector("#images_by_score").append(Plot.rectY(images, Plot.binX({y: "count"}, {x: "score"})).plot());
        // document.querySelector("#images_by_date").append(Plot.rectY(images, {x:"createdAt", y: "score"}).plot());

		</script>
		<table>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>count</th>
					<th>median</th>
					<th>&mu;</th>
					<th>&sigma;</th>
					<th>p50</th>
					<th>p90</th>
					<th>p95</th>
					<th>p99</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Images</td>
					{{ $image_scores := .Images | scores }}
					<td>{{len $image_scores}}</td>
					<td>{{$image_scores | median | printf "%0.2f" }}</td>
					<td>{{$image_scores | mean | printf "%0.2f" }}</td>
					<td>{{$image_scores | stddev  | printf "%0.2f" }}</td>
					<td>{{percentile .ImageScores 50 }}</td>
					<td>{{percentile .ImageScores 90 }}</td>
					<td>{{percentile .ImageScores 95 }}</td>
					<td>{{percentile .ImageScores 99 }}</td>
				</tr>
				<tr>
					<td>Posts</td>
					<td>{{len .Posts}}</td>
					<td>{{median .PostScores | printf "%0.2f" }}</td>
					<td>{{mean .PostScores | printf "%0.2f" }}</td>
					<td>{{stddev .PostScores | printf "%0.2f" }}</td>
					<td>{{percentile .PostScores 50 }}</td>
					<td>{{percentile .PostScores 90 }}</td>
					<td>{{percentile .PostScores 95 }}</td>
					<td>{{percentile .PostScores 99 }}</td>
				</tr>
		</table>

		<ul>
			<li>Posts:</li>
			<ul>
				<li><a href="#posts_by_score">Posts by score</a></li>
				<li><a href="#posts_by_date">Posts by date</a></li>
				<li><a href="#posts_by_efficiency">Posts by efficiency</a></li>
				<li><a href="#best_posts_per_day">Best Posts per day</a></li>
				<li><a href="#worst_posts_per_day">Worst Posts per day</a></li>
				<li>Worst Posts
					<ul>
						<li><a href="#worsts_posts_7d">7d</a></li>
						<li><a href="#worsts_posts_30d">30d</a></li>
						<li><a href="#worsts_posts_90d">90d</a></li>
						<li><a href="#worsts_efficiency_90d">Worst Efficiency 90d</a></li>
					</ul>
				</li>
			</ul>
		</ul>
		<ul>
			<li>Images:</li>
			<ul>
				<li><a href="#leaderboard">Leaderboard</a></li>
				<li><a href="#images_by_score">Images by score</a></li>
				<li><a href="#images_by_date">Images by date</a></li>
				<li><a href="#best_images_per_day">Best Images per day</a></li>
				<li><a href="#worst_images_per_day">Worst Images per day</a></li>
				<li>Worst Images
					<ul>
						<li><a href="#worsts_images_7d">7d</a></li>
						<li><a href="#worsts_images_30d">30d</a></li>
						<li><a href="#worsts_images_90d">90d</a></li>
						<li><a href="#worsts_images_90d+">90d+</a></li>
					</ul>
				</li>
		</ul>

		<h1 id="images_in_the_last_24h">Images in the last 24h</h1>
		<ol>
			{{ $start := ago "24h" }}
			{{ $end := ago "1s" }}
			{{range .Images | by_date | between $start $end | by_post | by_post_date }}
			<ol><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})
				<ul>
					{{range .Images | by_score }} 
						<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> ({{.Score}})</li>
					{{end}}
				</ul>
			</ol>
			{{end}}
		</ol>

		<h1 id="leaderboard">Leaderboard</h1>
		Score: {{printf "%.0f" .Leaderboard.Score}}<br>
		<ol>
			{{range $rank, $entry := .Leaderboard.Entries}}
				<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> {{printf "%.0f" .AdjustedScore}} ({{.Score}})</li>
			{{end}}
		</ol>

		<h1 id="best_posts_per_day">Best Posts per day</h1>
		<ol>
			{{range $day, $posts := best_posts_per_day 3}}
				<li>{{$day}}
					<ul>
						{{range $posts}}
							<li><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

		<h1 id="worst_posts_per_day">Worst Posts per day</h1>
		<ol>
			{{range $day, $posts := worst_posts_per_day 1}}
				<li>{{$day}}
					<ul>
						{{range $posts}}
							<li><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

        {{$start := ago "168h"}}
        {{$end := ago "24h"}}
        {{$range := between_range $start $end}}
        <h1 id="worsts_posts_7d">Worst Posts (-7d to -1d)</h1>
        {{range worst_posts $range 10}}
		<ol><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})
			<ul>
				{{range .Images}}
					<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> ({{.Score}})</li>
				{{end}}
			</ul>
        </ol>
        {{end}}

        {{$start := ago "720h"}}
        {{$end := ago "168h"}}
        {{$range := between_range $start $end}}
        <h1 id="worsts_posts_30d">Worst Posts (-30d to -7d)</h1>
        {{range worst_posts $range 10}}
		<ol><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})
			<ul>
				{{range .Images}}
					<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> ({{.Score}})</li>
				{{end}}
			</ul>
        </ol>
        {{end}}

        {{$start := ago "2160h"}}
        {{$end := ago "720h"}}
        {{$range := between_range $start $end}}
        <h1 id="worsts_posts_90d">Worst Posts (-90d to -30d)</h1>
        {{range worst_posts $range 10}}
        <ol><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})
            <ul>
                {{range .Images}}
                    <li><a href="{{.ImageURL}}">{{.ImageURL}}</a> ({{.Score}})</li>
                {{end}}
            </ul>
        </ol>
        {{end}}

		{{$start := ago "2160h"}}
        {{$end := ago "24h"}}
        {{$range := between_range $start $end}}
        <h1 id="worsts_efficiency_90d">Worst Efficiency (-90d to -1d)</h1>
		{{range worst_efficiency $range 10}}
			<li><a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}}) {{printf "%.2f" .Efficiency}}</li>
		{{end}}

		<h1 id="posts_by_score">Posts by score</h1>
		<ol>
			{{ $posts := .PostsByScore }}
			{{range $posts}}
				<li><a href="{{.PostURL}}">{{.PostURL}}</a>	Score: {{.Score}} Images: {{len .Images}} {{printf "%.2f" .Efficiency}}</li>
			{{end}}
		</ol>

		<h1 id="posts_by_date">Posts by date</h1>
		<ol>
			{{range .PostsByDate}}
				<li><a href="{{.PostURL}}">{{.PostURL}}</a>	Score: {{.Score}} Images: {{len .Images}} {{printf "%.2f" .Efficiency}}</li>
			{{end}}
		</ol>

		<h1 id="posts_by_efficiency">Posts by efficiency</h1>
		<ol>
			{{range .PostsByEfficiency}}
				<li><a href="{{.PostURL}}">{{.PostURL}}</a>	Score: {{.Score}} Images: {{len .Images}} {{printf "%.2f" .Efficiency}}</li>
			{{end}}
		</ol>

		<h1 id="best_images_per_day">Best Images per day</h1>
		<ol>
			{{range $day, $images := .Images | per_day }}
				<li>{{$day}}
					<ul>
						{{range $images | by_score | take 3}}
							<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

		<h1 id="worst_images_per_day">Worst Images per day</h1>
		<ol>
			{{range $day, $images := .Images | per_day }}
				<li>{{$day}}
					<ul>
						{{range $images | by_score | reverse | take 3}}
							<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
						{{end}}
					</ul>
				</li>
			{{end}}
		</ol>

        <h1 id="worsts_images_7d">Worst Images (-7d to -1d)</h1>
		<ol>
		{{$start := ago "168h"}}
        {{$end := ago "24h"}}
        {{range .Images | by_date | between $start $end | by_score | reverse | take 10}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
        </ol>

		<h1 id="worsts_images_30d">Worst Images (-30d to -7d)</h1>
		<ol>
		{{$start := ago "720h"}}
		{{$end := ago "168h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | take 10}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="worsts_images_90d">Worst Images (-90d to -30d)</h1>
		<ol>
		{{$start := ago "2160h"}}
		{{$end := ago "720h"}}
		{{range .Images | by_date | between $start $end | by_score | reverse | take 10}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="worsts_images_90d+">Worst Images (-90d+)</h1>
		<ol>
		{{$start := epoch }}
		{{$end := ago "2160h"}}	
		{{range .Images | by_score | between $start $end | by_score | reverse | take 10}}
			<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
		{{end}}
		</ol>

		<h1 id="images_by_score">Images by score</h1>
		<ol>
			{{range .Images | by_score }}
				<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
			{{end}}
		</ol>

		<h1 id="images_by_date">Images by date</h1>
		<ol>
			{{range .Images | by_date }}
				<li><a href="{{.ImageURL}}">{{.ImageURL}}</a> <a href="{{.PostURL}}">{{.PostURL}}</a> ({{.Score}})</li>
			{{end}}
		</ol>

	</body>
</html>